
{% extends 'homepage.html' %}
{% load static %}

{% block content %}
<body class="sub_page">
  <div class="hero_area">
    <div class="bg-box">
      <img src="{% static 'images/hero-bg.jpg' %}" alt="">
    </div>
    <!-- header section strats -->
    {% include 'heder/heder.html' %}
    <!-- end header section -->
  </div>

 
  <section class="book_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Бранировать стол
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form_container">
            <form action="{% url 'bron'%}" method="post">
            {% csrf_token %}
              <div>
                <input name="name" type="text" class="form-control" required placeholder="Ваше имя" />
              </div>
              <div>
                <input name="nomer" type="text" class="form-control" required placeholder="Номер телефона" />
              </div>
              <select name="stol" class="form-control nice-select wide" required>
                <option value="" disabled selected>Выбрать стол</option>
                {%for item in rows%}
                <option value="{{item.id}}">
                  {{item.nomer}}
                 </option>
                {%endfor%}
              </select>
              <div>
                <input name="count" type="number" required class="form-control" placeholder="Количества человек" />
                <!-- <select class="form-control nice-select wide">
                  <option value="" disabled selected>
                    Сколько человек?
                  </option>
                  <option value="">
                    2
                  </option>
                  <option value="">
                    3
                  </option>
                  <option value="">
                    4
                  </option>
                  <option value="">
                    5
                  </option>
                  <option value="">
                    6
                  </option>
                </select> -->
              </div>
              <div>
                <input name="date" type="date" required class="form-control">
              </div>
              <div class="btn_box">
                <button>
                  Забранируйте сейчас
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-6">
          <div class="map_container ">
            <div id="googleMap"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end book section -->

  <!-- footer section -->
  {% include 'footers/footer.html' %}
  <!-- footer section -->

</body>

{% endblock %}