{% extends 'homepage.html' %}
{% load static %}

{% block content %}


  <style>
    body {
      background-image: url('../static/images/hero-bg.jpg');
      background-position: center;
      
      color: black;
      font-family: Arial, sans-serif;
      padding-top: 20px;
      /* display: flex; */
      /* align-items: center; */
      height: 100vh;
    }
    
    .container {
      width: 300px;
      margin: 0 auto;
      padding: 20px;
      background-color: white;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    }
    
    h2 {
      text-align: center;
    }
    #form{
      display: none;
    }
    #close{
      display: none;
    }
    .form-group {
      margin-bottom: 15px;
    }
    
    .form-group label {
      display: block;
      font-weight: bold;
    }
    
    .form-group input {
      width: 100%;
      padding: 5px;
      border: 1px solid black;
      border-radius: 3px;
    }
    
    .form-group button {
      width: 100%;
      padding: 10px;
      border: none;
      background-color: black;
      color: white;
      font-weight: bold;
      cursor: pointer;
      border-radius: 3px;
    }
    
    .form-group button:hover {
      background-color: #333;
    }
      .container *{
      transition: all .3s;
    }
  </style>
  
</head>
<body>
  <div class="container transition">
    <h2>Register</h2>
    <p id="open">open</p>
    <p id="close">close</p>
    <form id="form">
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
      </div>
      <div class="form-group">
        <label for="phone">Phone:</label>
        <input type="phone" name="phone" required>
      </div>
      <div class="form-group">
        <button type="submit">Register</button>
      </div>
    </form>
  </div>
  <script>
    let open = document.getElementById('open');
    let close = document.getElementById('close');
    let form = document.getElementById('form')
    open.onclick = ()=>{
      open.style.display = 'none'
      close.style.display = 'block'
      form.style.display = 'block'
    }
    close.onclick = ()=>{
      open.style.display = 'block'
      close.style.display = 'none'
      form.style.display = 'none'
    }
  </script>
      {% endblock %}
