<!-- <input style="padding: 20px; width: 400px; border-radius: 10px;outline: 0; border: 1px solid grey; font-size: 20px;" type="text" placeholder="введите что нибуд"  > -->


{% extends 'homepage.html' %}
{% load static %}

{% block content %}


    </style>
    <div class="search-container">
        <h1>Поиск</h1>
        <form action="{% url 'search' %}" method="get">
            <input type="text" name="key" placeholder="Введите поисковый запрос" />
            <button name type="submit">Найти</button>
        </form>
    </div>
    {% for i in products %}
    {{i.name}}
    {% endfor %}
{% endblock %}